@import '/styles/variables.module.scss';

.button {
  height: 40px;
  border: solid 1px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.button:disabled, .button[disabled], .button:disabled:hover  {
  cursor: default !important;
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.button--primary {
  background-color: $transparent;
  border-color: $primary-color;
  color: $primary-color;

  &:hover {
    color: white;
    background-color: $primary-color;
    transition: .5s;
  }
}

.button--secondary {
  background-color: $transparent;
  border-color: $secondary-color;
  color: $secondary-color;

  &:hover {
    color: white;
    background-color: $secondary-color;
  }
}

.button--filled {
  &.button--primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;

    &:hover {
      color: $primary-color;
      background-color: $transparent;
      transition: .5s;
    }
  }

  &.button--secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: white;

    &:hover {
      color: $secondary-color;
      background-color: $transparent;
      transition: .5s;
    }
  }
}
