.creation {
  align-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 68px;

  @media (max-width: $mobile-device) {
    padding: 12px;
  }
}

.creation__field {
  width: 100%;
  margin-bottom: $spacing-medium;

  @media (max-width: $mobile-device) {
    margin-bottom: $spacing-medium;
    width: 100%;
  }
}

.creation__field-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $mobile-device) {
    flex-direction: column;
  }
}

.creation__field-section {
  width: 45%;

  @media (max-width: $mobile-device) {
    width: initial;
  }
}

.creation__button {
  margin-top: $spacing-medium;
  width: 25%;

  @media (max-width: $mobile-device) {
    margin-top: $spacing-small;
    width: 100%;
  }
}
