.vehicle-filters {
  flex-direction: column;
  display: flex;

  @media (max-width: $mobile-device) {
    margin-top: calc($size-extra-large * 1.25);
  }
}

.vehicle-filters__options {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $spacing-extra-large;

  @media (max-width: $mobile-device) {
    flex-wrap: nowrap;
  }
}

.vehicle-filters__options-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $spacing-large;
  width: 60%;

  @media (max-width: 1240px) {
    width: 100%;
  }
}

.vehicle-filters__option-field {
  width: $size-extra-large;
  margin-bottom: $spacing-medium;

  @media (max-width: $mobile-device) {
    width: 100%;
  }
}

.vehicle-filters__option-field-small {
  width: $size-large;

  @media (max-width: $mobile-device) {
    &:nth-child(1n) {
      margin-bottom: $spacing-medium;
    }
  }
}
