.app {
  height: 100vh;

  @media (max-width: $mobile-device) {
    height: 115vh;
  }
}

.appChildContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  @media (max-width: $mobile-device) {
    margin-top: calc($spacing-extra-giant * 2.5);
  }
}

// Colors
$primary-color: #ef404b;
$secondary-color: #12CE66;
$transparent: rgba(0, 0, 0, 0);

// Size
$size-extra-small: 16px;
$size-small: 32px;
$size-medium: 64px;
$size-large: 128px;
$size-extra-large: 256px;
$size-giant: 512px;
$size-extra-giant: 1024px;

// Spacing
$spacing-nano: 2px;
$spacing-micro: 4px;
$spacing-extra-small: 6px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-extra-large: 32px;
$spacing-giant: 48px;
$spacing-extra-giant: 64px;

// Breakpoints
$laptop-sm: 1024px;
$mobile-device: 460px;
$tablet-device: 768px;

// Font Size
$font-extra-small: 0.5em;
$font-small: 0.75em;
$font-normal: 1em;
$font-medium: 1.25em;
$font-large: 1.5em;
$font-extra-large: 2em;
$font-giant: 2.5em;
