.app {
  height: 100vh;

  @media (max-width: $mobile-device) {
    height: 115vh;
  }
}

.app__child-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  @media (max-width: $mobile-device) {
    margin-top: calc($spacing-extra-giant * 2.5);
  }
}
